/*----When pressed for time your code goes awry----*/

/* Reset styles */
html{
	min-width: 1065px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Global */
body {
	background-color: #E1F2D7;
	margin: 0;
	font-family: SourceSansProRegular, "Source Sans Pro", Helvetica, Tahoma, Univers, Futura, "Franklin Gothic", Calibri, Arial, Verdana, Sans-serif, Georgia, "Times New Roman";
	-moz-font-feature-settings:"onum" 1, "pnum" 1;
	-ms-font-feature-settings:"onum" 1, "pnum" 1;
	-o-font-feature-settings:"onum" 1, "pnum" 1;
	-webkit-font-feature-settings:"onum" 1, "pnum" 1;
	font-feature-settings:"onum" 1, "pnum" 1;
}

header {
	background-color: #FCF5C7;
	color: #75969E;
	margin: 0;
	padding: 0 1%;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav {
	background-color: #BDE4A7;
	margin: 0;
	padding: 0 0 0 1%;
	height: 100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: stretch;
	font-size: 150%;
	box-shadow: 0 5px 10px #B3D2B2;
}

nav  p:first-of-type {
	align-self: center;
	color: #576670;
	font-family: SourceSansProSemiBold;
	font-size: 40pt;
}

a:link, a:visited {
	text-decoration: none;
	color: #E1F2D7;
}

a:hover{
	color: #75969E;
}

main a:link, main a:visited {
	text-decoration: none;
	color: #576670;
}

main a:hover{
	color: #E1F2D7;
	background-color: #9BBB89;
}

nav li {list-style: none;}

main {
	margin-top: 20px;
	padding: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

main p {margin: .6em 0;}

main h3, main h4, p {padding-left: 3px;}

footer {}

h3 {
	font-family: SourceSansProSemibold;
	font-size: 200%;
	margin-bottom: -2px;
	margin-top: 1.5em;
	background-color: #BDE4A7;
	color: #576670;
	-moz-font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	-ms-font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	-o-font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	-webkit-font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	box-shadow: 0 5px 10px #B3D2B2;

}

h3 + p {
	margin-top: 1px;
	padding-top: 1em;
	border-top: 1.5pt solid #A3BFA2;
}

h3 + h4 {
		margin-top: 0;
		padding-top: 0;
}

h4 {
	font-family: SourceSansProSemibold;
	font-size: 200%;
	margin-bottom: -2px;
	margin-top: .2em;
	background-color: #BDE4A7;
	color: #576670;
	-moz-font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	-ms-font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	-o-font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	-webkit-font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	box-shadow: 0 5px 10px #B3D2B2;
}

#across section[class|=flex-it] article > h4 a {
	display: flex;
	padding-left: 3px;
}

h4 + p {
	margin-top: 1px;
	padding-top: 1em;
	border-top: 1.5pt solid #A3BFA2;
}


q {
	font-family: SourceSansProLightItalic;
	align-self: center;
	font-size: 150%;
}

p  + .h3-alt2 {margin-top: 1em;}

a .z-up {
	z-index: 2;
	position: relative;
	cursor: pointer;
}




/*----Classes----*/

.h-null {display: none;}

.h2-alt {
	font-family: SourceSansProbold;
	font-size: 300%;
	margin-bottom: -2px;
	margin-top: 1.5em;
	margin-right: auto;
	margin-left: auto;
	padding-top: 0;
	background-color: #BDE4A7;
	color: #576670;
	-moz-font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	-ms-font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	-o-font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	-webkit-font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	text-align: center;
	box-shadow: 0 5px 10px #B3D2B2;
}

.h2-alt + * {
	margin-top: 1px;
	margin-right: auto;
	margin-left: auto;
	padding: .2em .5em .2em;
	font-family: SourceSansProRegular;
	font-size: 150%;
	text-align: center;
	background-color: #FDF9E0;
	color: #576670;
	-moz-font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	-ms-font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	-o-font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	-webkit-font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	box-shadow: 0 5px 10px #B3D2B2;
	border-bottom: 1.5pt solid #A3BFA2;
}


.h3-alt2 {
	font-family: SourceSansProbold;
	font-size: 300%;
	background-color: #FDF9E0;
	color: #576670;
	-moz-font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	-ms-font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	-o-font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	-webkit-font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	border-bottom: 1.5pt solid #A3BFA2;
	box-shadow: 0 5px 10px #B3D2B2;
}


.menu {
	-moz-font-feature-settings:"lnum" 1, "tnum" 1;
	-ms-font-feature-settings:"lnum" 1, "tnum" 1;
	-o-font-feature-settings:"lnum" 1, "tnum" 1;
	-webkit-font-feature-settings:"lnum" 1, "tnum" 1;
	font-feature-settings:"lnum" 1, "tnum" 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
}


.menu > li {
	display: inline;
	margin-right: 0px;
}

.menu > li:last-of-type {
  margin-right: 0;
  padding-right: 0;
}

.menu > li > a , li .dropdown > * > a{
	padding: 35px;
	background-color: #9BBB89;
}

.menu > li > a:hover, li.dropdown > * > a:hover{
	background-color: #ACD098;
}

.flex-it {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}


/*-----Drop Down-------*/

.dd-menu {display: none;}

.dropdown:hover .dd-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	background: #9BBB89;
	border-radius: 5px;
	margin-top: 35px;
	z-index: 1;
	box-shadow: 0 5px 10px #B3D2B2;
}

.dd-menu li {
	list-style: none;
	border-top: 1px solid #E1F2D7;
	padding: 10px 40px 5px 20px;
	margin: 0 10px 10px;

}

.dd-menu  li:first-of-type, .dd-group + li {border-top: none;}


.dropdown:hover .dd-menu .dd-group {
	font-family: SourceSansProBold;
	background-color: #8AA67A;
	color:  #E1F2D7;
	margin: 0;
	padding: 15px 40px 10px 20px;
	border: none;
}

.dropdown {
	align-self: flex-start;
	position: relative;
	top: 32.5%;
}


/*-----IDs------*/

#title {
	font-family: SourceSansProBlack;
	font-size: 500%;
	-moz-font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	-ms-font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	-o-font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	-webkit-font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	font-feature-settings:"lnum" 1, "pnum" 1, "ss01" 1, "ss04" 1;
	margin: .25em 0 .5em;
}

#title > span[class|=color] {
	color: #576670;
}

#title > span[class|=uline] {
	text-decoration: underline;
	text-decoration-color: #576670;
}

#left {
	float: left;
	margin: 1em 20px;
	max-width: 66%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}

#left > section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}

#right{
	float: right;
	max-width: 500px;
	margin: 1em 20px;
	top: 375px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

#right > div, #right > picture {
	margin-top: 38px;
}

#right > div  > picture img, #right > picture img {
	margin: 10px 0;
	border: 2px solid #30383E;
	box-shadow: 3px 5px 3px #B3D2B2;
}

#across {
	margin: 1em 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}

#across section[class|=flex-it] article > div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
}

#across section[class|=flex-it] article div > picture {
	margin: 35px 15px 15px 0;
	border: 2px solid #30383E;
	box-shadow: 3px 5px 3px #B3D2B2;
}
