/* Coolors Exported Palette - coolors.co/acd098-75969e-a3bfa2-fdf9e0-576670 */

/* HSL */
$color1: hsla(99%, 37%, 71%, 1);
$color2: hsla(192%, 17%, 54%, 1);
$color3: hsla(118%, 18%, 69%, 1);
$color4: hsla(52%, 88%, 94%, 1);
$color5: hsla(204%, 13%, 39%, 1);

/* RGB */
$color1: rgba(172, 208, 152, 1);
$color2: rgba(117, 150, 158, 1);
$color3: rgba(163, 191, 162, 1);
$color4: rgba(253, 249, 224, 1);
$color5: rgba(87, 102, 112, 1);